{% extends 'base/base.html' %}
{% block title %}Login Here{% endblock title %}
{% block maincontent %}
    <h1>Login Page</h1>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{message.tags}}" role="alert">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Login">
    </form>
{% endblock maincontent %}